/*样式清除*/
a{
	text-decoration: none;
	color:black;
}
a:focus,
a:hover,
a:active
{
	background: #afb4db;
}

/*head元素*/
.head{
	width: 100%;
	height: 536px;
	background: url(../Image/head.jpg) no-repeat;
}
.logo{
	width: 50px;
	height: 38px;
	float: left;
	margin: 30px 0 0 70px;
}
.about{
	width: 175px;
	height: 40px;
	float: right;
	margin: 30px 30px 0 0;
}

.about a{
	margin-right: 23px;
	font-size: 20px;
	color: white;
}
.message{
	clear: both;
	width: 600px;
	margin: 95px auto;
}
.message p{
	color: white;
	font-size: 50px;
	text-align: center;
}
.join{
	width: 500px;
	margin: 50px auto;
	padding-top: 10px;
}
.join p{
	text-align: center;
	border-radius: 5px ;
}

.join p a{
	font-size: 25px;
	color: white;
	background-color: rgba(0,0,255,.3);
}

/*nav元素*/

.nav{
	width: 100%;
	height: 50px;
	margin-top: 30px;
	background: #fffef9;
}

.nav-a{
	font-size: 40px;
}

.nav-image{
	width: 35px;
}
.nav ul li{
	list-style: none;
	float: left;
	margin-left: 220px;
}

/*main部分*/
/*各文章article通用定义*/
.article{
	clear: both;
	padding-top: 50px;
	width: 1200px;
}
.article h1{
	text-align: center;
	font-size: 50px;
}
/*各主题theme通用定义*/
.theme{
	width:400px;
	height: 286px;
	float: left;
}
.theme img{
	display: block;
	width: 360px;
	height: 150px;
	margin: 0 auto;
}
.theme p{
	font-size: 25px;
	width: 360px;
	margin: 0 auto;
}
.theme .title{
	
	text-align:center; 
}
.theme .title a{
	color:#6f6d85;
}
/*主题定义结束*/
.main{
	width: 100%;
	margin-top:30px;
	background: #f6f5ec;
}
.clude{
	width: 1200px;
	overflow: auto;
	margin: 0 auto;
}
.article.study{
	padding-top: 0px;
}

/*footer部分*/
.footer{
	width: 100%;
	padding-bottom: 10px;
	background: rgb(29,65,85);
	margin-top: 80px;
	padding-top: 1px;
}
.footer ul {
	width: 41.5%;
	margin:30px auto;
}
.footer ul li{
	float: left;
	list-style: none;
	margin: 0 40px;
}
.footer ul li a{
	font-size: 20px;
	color: white;
}
.footer p{
	padding-top: 20px;
	clear: both;
	text-align: center;
	font-size: 20px;
	color: white;
}

.footer p a{
	color: #fedcbd;
}